# RESTIC_REPOSITORY: where the backup repository resides (via rclone, to Google Drive)
RESTIC_REPOSITORY=repo-backup

# RESTIC_PASSWORD: encrypts the actual content of the backups.
RESTIC_PASSWORD=restic-password

# NTFY_TOPIC: push notification channel (ntfy.sh) where backup.sh sends alerts if something fails.
NTFY_TOPIC=notifications-canal

# RCLONE_CONFIG_CRISTIAN_DRIVE_*: credentials for rclone (used by restic under the hood)
RCLONE_CONFIG_CRISTIAN_DRIVE_TYPE=drive
RCLONE_CONFIG_CRISTIAN_DRIVE_CLIENT_ID= from-gdrive
RCLONE_CONFIG_CRISTIAN_DRIVE_CLIENT_SECRET= from-gdrive
RCLONE_CONFIG_CRISTIAN_DRIVE_SCOPE=drive.file
RCLONE_CONFIG_CRISTIAN_DRIVE_TOKEN=''
